body{
  background-color: #08081b;
  margin: 0px;
}
/*--NAVIGATION BAR-----*/
.navigation-bar {
	height: auto;
	width: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding-left: 5%;
	padding-right: 5%;
	transition: all ease-in-out 1s; /* when the navbar loads, every property transits for 1s */
}
h1,h4{
  margin:0px;
  color: white;
}
.navigation-bar > div{
  display: inline-block;
}
/*--LOGO--*/
.title-logo > div{
  display: inline-block;
}
.logo img {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	animation-name: rotating;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*---website name---*/
.website-name h1,h4 {
   -webkit-animation: colorchange 20s infinite alternate;
}
@-webkit-keyframes colorchange {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}

/*--SEARCH--*/
.search-bar {
	width: 20%;
	position: relative;
}
/* changing the default style of the input bar */
.search-bar input {
	width: 100%;
	font-size: 16px;
  background-color: #454571;
	text-decoration: none;
	border-radius: 18px;
	border: none;
	padding: 5px;
	font-weight: 500;
	text-align: center;
	transition: all ease-in-out 0.1s;
}
/*---NOTIFICATION BELL---*/
.notification img{
  	width: 30px;
  	height: 30px;
  	animation-name: ringing_bell;
  	animation-duration: 0.5s;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;
  }
@keyframes ringing_bell {
  	0% {
  		transform: rotate(-15deg);
  	}
  	50% {
  		transform: rotate(15deg);
  	}
    100% {
  		transform: rotate(-15deg);
  	}
  }
/*----PROFILE PIC---*/
  .profile img {
  	width: 45px;
  	height: 45px;
    border-radius: 50%;
    transition: all ease-in-out 0.5s;

  }
  .profile img:hover{
    width: 480px;
    height: 480px;
    transform: rotate(360deg);

}
/*---MAIN SECTION----*/
main{
  	width: 100%;
  	padding: 0% 3%;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
  	transition: all ease-in-out 1s;
}
.aside{
  display: inline-block;
  overflow: hidden;
}
.section1 {
	width: 70%;
	height: 86vh;
  overflow: scroll;
	overflow-x: hidden;
}
.header{
	position: relative;
	left: 9vw;
	margin-top: 5%;
}

.top-images {
  position: absolute;
  left: 2%;
  width: 68%;
  height: auto;
  display: flex;
  flex-direction: row;
  overflow: visible;
  justify-content: space-around;
  transition: all 1s;
}
.top-images img {
  height: 15vw;
	width: 22.5vw;
	border-radius: 20px;
  transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
  }

.top-images img:nth-child(1) {
  	position: relative;
  	left: 41vw;
  	z-index: 2;
  }
.top-images img:nth-child(2) {
  	z-index: 3;
  }
.top-images img:nth-child(3) {
      position: relative;
      right: 41vw;
      z-index: 1;
  }
.top-images img:hover {
  z-index: 4;
  box-shadow: 0px 0px 12px 0.1px black;
  height: 18vw;
  width: 27vw;
  }
/*-----LATEST RELEASE SECTION---------------------------*/
.latest-release {
	position: relative;
	top: 20vw;
	height: auto;
	width: 100%;
	box-sizing: border-box;
}
/* container of the latest release part should be of type flex */
.latest-release-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
/* all the components of the latest release part */
.latest-release-content > div {

	height: 100px;
	width: 47%;
	margin: 5px 0px;
}
/*posters of music videos*/
.poster {
	display: flex;
	flex-direction: row;
	transition: box-shadow ease-in-out 0.1s;
}
.poster:hover {
	box-shadow: 0px 0px 2px 1px white;
}
.poster img {
	width: 100px;
	height: 100px;
	z-index: 1;
}
.poster img:hover{
  position: relative;
  height: 200px;
  width: 200px;
  transition: all ease-in-out 1s;
  overflow: hidden;
}
.description {
	margin: auto 9%;
  color: white;
  font-size: 12px;

}
.description h1{
  text-transform: capitalize;
}

.options {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	text-align: right;
	margin-left: auto;
	margin-right: 2%;
	margin-top: 2%;
}
.duration p{
  color: white;
}
.latest-release-dropdown {
	position: absolute;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	opacity: 0;
	width: 0px;
	height: 0px;
	top: 20px;
	right: 0px;
	overflow: hidden;
	z-index: 2;
	border: 1px solid black;
  transition: all ease-in-out 0.3s;
}

.fa-ellipsis-h {
  cursor: pointer;
  color: white;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked ~ .latest-release-dropdown {
	width: max-content;
	height: auto;
	opacity: 1;
	padding: 5px;
}
/* options in the lastest release drop down */
.drop-item p {
	text-align: center;
}
.latest-release {
	position: relative;
	top: 20vw;
	height: auto;
	width: 100%;
	box-sizing: border-box;
}
/*---POPULAR ARTIST-----------*/
.popular-artists {
	position: relative;
	width: 100%;
	height: auto;
	top: 26vw;
	box-sizing: border-box;
}
/* container of the popular artists */
.popular-artist-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.popular-artists div a img {
	width: 10vw;
	min-width: 60px;
	min-height: 60px;
	height: 10vw;
	border-radius: 50%;
}
/* content of the container in popular artists section */
.popular-artists > div {
	/* position: relative; */
	margin: 5px;
	text-align: center;
}
.popular-artist-content > a > div {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
a,p{
  color: white;
  text-decoration: none;
}
.popular-artists  p {
	text-align: center;
}
/* music themes */
.music-themes {
	position: relative;
	top: 28vw;
	width: 100%;
	height: 40%;
	box-sizing: border-box;
	background-color:#101033;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
/* stations */
.stations {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 10px;
}
/* these divs are for the colourful boxes in the themes section */
#div1 {
	width: 12vw;
	height: 8vw;
	background-color: yellow;
}
#div2 {
	position: relative;
	top: -1vw;
	left: 1vw;
	width: 10vw;
	height: 10vw;
	background-color: yellowgreen;
}
#div3 {
	position: relative;
	top: -1vw;
	left: 1vw;
	width: 8vw;
	height: 12vw;
	background-color: orangered;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* logo in the outermost div */
#div3 img {
	width: 5vw;
	height: 5vw;
}
/* "stations" text */
#div3 p {
	font-size: 2vw;
}
/* images in the music themes section */
.music-themes div img {
	width: 8vw;
	height: 8vw;
	border-radius: 100%;
  opacity: 0.7;
}
/* this is the sub content of the themes section */
.theme-content {
	margin: 0%;
  position: relative;
	height: 8vw;
	width: 8vw;
	text-align: center;
	border-radius: 100%;
  overflow: hidden;
}
/* text within the themes section */
.theme-content p {
	text-align: center;
	position: relative;
	top: -8.25vw;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 1.5vw;
	transition: background-image 0.3s;
}
/* container for theme contents */
.theme-main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
/*-----------ALBUMS SECTION----------------*/
.music-themes-2 {
	position: relative;
	top: 30vw;
	height: auto;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
/* this outer div contains the inner div and the image and text */
.outer-div {
	width: 19.5vw;
	height: 13vw;
	overflow: hidden;
	min-width: 123px;
	min-height: 82px;
	margin: 5px;
	cursor: pointer;
}
/* inner div portion */
.inner-div {
	width: 100%;
	height: 100%;
	background-color: black;
	background-position: center;
	background-size: cover;
	transition: all ease-in-out 0.3s;
}
/* party */
.music-themes-2 .outer-div:nth-child(1) .inner-div {
	background-image: url("party.jpg");
}
/* electronic */
.music-themes-2 .outer-div:nth-child(2) .inner-div {
	background-image: url("electronics.jpeg");
}
/* road */
.music-themes-2 .outer-div:nth-child(3) .inner-div {
	background-image: url("road.jpg");
}
.outer-div:hover .inner-div {
	transform: scale(1.3);
}
.outer-div .inner-div span {
	transform: scale(1);
	transition: all ease-in-out 0.3s;
}
.outer-div:hover .inner-div span {
	transform: scale(0.75);
}
.inner-div::before {
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.3s;
}
.inner-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.outer-div .inner-div span {

	color: white;
	font-size: 2vw;
}
/*----ENGLISH SECTION-----*/
.latest {
	position: relative;
	top: 31vw;
	height: auto;
	width: 100%;
	box-sizing: border-box;
	margin: 3vw 0px;
}
.song-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	padding: 0px 2px;
  margin-top: -7%;
}

.song-content div img {
	width: 10vw;
	min-width: 60px;
	height: 10vw;
	min-height: 60px;
	transition: box-shadow ease-in-out 0.1s;
}
.song-content div img:hover {
	box-shadow: 0px 0px 10px 1px white;
}
.song-content div {
	margin: 2vw 0px;
	width: 10.2vw;
	min-width: 60px;
}
.song-content div p:nth-child(2n) {
	width: 100%;
	word-wrap: break-word;
}
.song-content div p:nth-child(2n + 1) {
	font-size: 12px;
	font-weight: lighter;
}
label[for="more"] {
	display: none;
	position: absolute;
	right: 0%;
	top: 20%;
	padding-bottom: 5px;
	z-index: 4;
	width: 70px;
	font-size: 20px;
	height: 25px;
	text-align: center;
	box-shadow: 0px 0px 2px 1px white;
	background-image: linear-gradient(45deg, red -50%, blue 150%);
}
label[for="more"]:checked ~ input {
	display: none;
}

/*---------------------ASIDE SECTION 2 STARTS-------------------------------------*/
label[for="more"] {
	display: none;
	position: absolute;
	right: 0%;
	top: 20%;
	padding-bottom: 5px;
	z-index: 4;
	width: 70px;
	font-size: 20px;
	height: 25px;
	text-align: center;
	box-shadow: 0px 0px 2px 1px white;
	background-image: linear-gradient(45deg, red -50%, blue 150%);
}
label[for="more"]:checked ~ input {
	display: none;
}
.heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 12%;
}
.heading h4 a {
	text-decoration: none;
	color: #22b6bd;
}
.queue-options {
	position: fixed;
	right: 4%;
	top: 14%;
	background-color: #f8f9fa;
	width: 10%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 1%;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 2;
	opacity: 0;
	transform: scale(0);
	transition: all ease-in-out 0.25s;
}
#queue-option-box:target {
	opacity: 1;
	transform: scale(1);
}
.queue-options {
	color: black;
  margin: none;
  padding: 0%;
}
.queue-options p {
	text-align: center;
}
.queue-options p a {
	text-decoration: none;
}
hr {
	width: 90%;
	color: black;
}
.playlist-content {
	width: 100%;
	height: 75vh;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	cursor: pointer;
}
.playlist-content::-webkit-scrollbar {
	display: none;
}
.left-content {
	display: flex;
	height: 100%;
	width: 70%;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-between;
	align-items: center;
}
.left-content > div:nth-child(3) {
	margin-left: 12px;
	width: 50%;
	word-wrap: break-word;
}
.right-content {
	position: relative;
	bottom: 62%;
	left: 90%;
	width: min-content;
	height: 20px;
	color: white;
	font-size: 20px;
}
.right-content i {
	transition: all ease-in-out 0.1s;
}
.right-content i:hover {
	color: red;
}
.playlist-item {
	width: 90%;
	height: auto;
	padding: 0px 1%;
	box-sizing: border-box;
	margin: 1%;

}
@keyframes glowing-heart {
	0% {
		color: yellow;
	}
	50% {
		color: orangered;
	}
	100% {
		color: red;
	}
}
.playlist-item:hover .fa-heart {
	animation-name: glowing-heart;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 1s;
}
.playlist-item:hover {
	box-shadow: 0px 0px 2px 1px white;
}
.playlist-item img {
	width: 80px;
	height: 80px;
}
.coverer {
	width: 80px;
	height: 80px;
}
/*---for play button*/
.play-button {
	width: 100%;
	height: 100%;
	position: relative;
	top: -104%;
	color: rgba(255, 255, 255, 0);
	background-color: rgba(0, 0, 0, 0);
	font-size: 30px;
	padding-top: 2%;
	text-align: center;
	z-index: 5;
	transition: all ease-in-out 0.2s;
}
.play-button i {
	padding-top: 28%;
}
.play-button:hover {
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.5);
}
/*----for colours---*/
.fonts {
  color: white;
  font-family: sans-serif;
}
/*footer*/
footer {
	position: absolute;
	bottom: 1px;
	width: 100%;
	height: 60px;
	background-color: #282828;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	flex-wrap: nowrap;
	padding: 0px 3%;
	box-sizing: border-box;
	z-index: 6;
}
.active-song-description {

	height: 90%;
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#song-image {
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
}
#song-image img {
	width: 100%;
	height: 100%;
}
.heart-and-ban-icon {
	height: 100%;
	padding-top: 4%;
  padding-right: 10%;
  color: white;
  margin-top: 8%;
  margin-right: 5%;
}
.song-desc {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1%;
	margin-right: 0%;
	margin-left: 0%;
  color: white;
}
.song-desc div:nth-child(1) {
	font-size: 14px;
}
.song-desc div:nth-child(2) {
	font-size: 12px;
}
.player {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}
.controls {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
  color: white;
}
#slider {
	width: 100%;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
  color: white;
}
.time {
	margin: 0px 10px;
}
.slidecontainer {
	width: 100%;

}
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.5;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;

}
.slider:hover {
	opacity: 1;

}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: #007bff;
	cursor: pointer;
}
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}
.extras {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
  color: white;
}

/*---------------------media queries---------------------*/
@media screen and (max-width: 1200px) {
	.fav {
		display: none !important;
	}
	.search-bar {
		width: 30%;
	}
	input {
		font-size: 11px !important;
	}
}
@media screen and (max-width: 900px) {
	label[for="more"] {
		display: block;
	}
	.section-2 {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		width: 300px;
		height: 66vh;
		background-color: #050043;
		box-shadow: 0px 0px 2px 1px white;
		right: 0px;
		top: 23.5%;
		z-index: 5;
		overflow: scroll;
		padding-left:10px;
		transition: visibility ease-in-out 0.2s;
		transition: opacity ease-in-out 0.2s;
	}
	.playlist-content {
		overflow: visible;
	}
	.queue-options {
		position: absolute;
		height: auto;
		width: auto;
		top: 7%;
		right: 0%;
	}
	input[id="more"]:checked ~ .section-2 {
		visibility: visible;
		opacity: 1;
	}
	.section-2::-webkit-scrollbar {
		display: none;
	}
	.section-1 {
		width: 100%;
	}
	.aside-section1 {
		min-width: 250px;
	}
	.header {
		height: 9%;
	}
	.top-images img {
		height: 23vw;
		width: 34.5vw;
	}
	.top-images img:nth-child(1) {
		left: 56vw;
	}
	.top-images img:nth-child(3) {
		right: 56vw;
	}
	.top-images img:hover {
		height: 27vw;
		width: 40.5vw;
	}
	.music-themes {
		justify-content: space-around;
	}
	.theme-main {
		width: 50%;
	}
	.theme-content {
		width: 12vw;
		height: 12vw;
	}
	.theme-content p {
		font-size: 3vw;
		top: -12.5vw;
	}
	.music-themes div img {
		width: 12vw;
		height: 12vw;
	}
}
@media screen and (max-width: 700px) {
	.extras > div:nth-child(3) {
		display: none;
	}
	.extras > div:nth-child(4) {
		display: none;
	}
	.outer-div {
		width: 36vw;
		height: 24vw;
		min-width: 123px;
		min-height: 82px;
	}
	.outer-div .inner-div span {
		font-size: 4vw;
	}
}
@media screen and (max-width: 550px) {
/
	.logo img {
		height: 30px;
		width: 30px;
	}
	.website-name h1 {
		font-size: 3vw;
	}
	.website-name h4 {
		font-size: 2vw;
	}
	.notification img {
		width: 20px;
		height: 20px;
	}
	.profile img {
		width: 30px;
		height: 30px;
	}

	.notification,
	.profile {
		margin-top: 8px;
	}
	#song-image {
		display: none;
	}

	.theme-main {
		width: 100%;
	}
	/* theme content */
	.theme-content {
		width: 18vw;
		height: 18vw;
	}
	.theme-content p {
		font-size: 4.5vw;
		top: -18.8vw;
	}
	.music-themes div img {
		width: 18vw;
		height: 18vw;
	}
	#div1 {
		width: 30vw;
		height: 20vw;
	}
	#div2 {
		width: 28vw;
		height: 24vw;
	}
	#div3 {
		width: 26vw;
		height: 26vw;
	}
	#div3 img {
		width: 12vw;
		height: 12vw;
	}
	/* text part in that section which contains "stations" text */
	#div3 p {
		font-size: 5vw;
	}
	.outer-div .inner-div span {
		font-size: 6vw;
	}
}
